@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');* {
	font-family: 'Inconsolata';
	-webkit-font-smoothing: antialiased;
	margin:0;
	padding:0;
	
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	display:flex;
	flex-direction: column;
	background-color: rgb(42, 42, 42);
	color:white;
}

.bolded {
	opacity:1.0
}

.unbolded { 
	opacity:0.68
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(216, 216, 216);
  }

  .success {
	  color:rgb(0, 223, 0) !important;
  }




